

    <h1>Tickets Abiertos</h1>
    <div class="table-responsive">
        <table class="table table-condensed table-bordered" id="tablaTicketsAbiertos">
            <thead>
                <tr>
                    <th>#Ticket</th>
                    <th>Fecha</th>
                    <th>Asunto</th>
                    <th>Cliente</th>
                    <th>Prioridad</th>
                    <th>Tema de Ayuda</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Anna</td>
                    <td>Pitt</td>
                    <td>35</td>
                    <td>New York</td>
                    <td>USA</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Sergio</td>
                    <td>Contreras</td>
                    <td>22</td>
                    <td>Mexicali</td>
                    <td>Mexico</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Carlos</td>
                    <td>Calderon</td>
                    <td>22</td>
                    <td>San Luiz</td>
                    <td>USA</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Yesenia</td>
                    <td>Medina</td>
                    <td>20</td>
                    <td>San LUis</td>
                    <td>Mexico</td>
                </tr>
            </tbody>
        </table>
    </div>