

    <div class="col-xs-12 col-md-12">
        <h2>Iniciar Sesión en SAIT Soporte</h2>
        <p>Para obtener un mejor servicio te invitamos a que registres tu cuenta.</p>
        <br><br>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
        <form id="formLogin">
            <div class="form-group">
                <label for="txtEmail">Correo:</label>
                <input type="email" class="form-control" id="txtEmail" placeholder="someone@example.com">
            </div>
            <div class="form-group">
                <label for="txtPass">Contraseña:</label>
                <input type="password" class="form-control" id="txtPass" placeholder="*********">
            </div>
            <div id="alertaLogin">

            </div>
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sesión</button>
            <a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
        </form>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-4">
        <br>
        <p>¿Aún no está registrado? <a href="#create">Cree una cuenta</a></p>
        <p>Soy un agente — <a href="#loginAgente"> Acceda aquí</a></p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-2">
        <img src="img/lock-security.png" id="imgDocumentos">
    </div>
    <script src="backbone.marionette/obtenerDatos.js"></script>