
        <ul class="nav nav-tabs" id="barraNavegacion">
            <li id="liControl"><a href="#scp/control"><span class="glyphicon glyphicon-cog"></span> Panel de Control</a></li>
            <li id="liUser"><a href="#scp/users"><span class="glyphicon glyphicon-user"></span> Usuarios</a></li>
            <li id="liTickets"><a href="#scp/tickets/open"><span class="glyphicon glyphicon-tag"></span> Tickets</a></li>
            <li id="liReportes"><a href="#scp/reports"><span class="glyphicon glyphicon-list-alt"></span> Reportes</a></li>
            <li id="liBase"><a href="#scp/knowledge"><span class="glyphicon glyphicon-book"></span> Base de Conocimientos</a></li>
        </ul>
        <div class="container">
            <div id="encabezadoSCP"></div>
            <div id="contenidoSCP"></div>
        </div>