
        <div class="col-xs-12 col-md-12">
          <h2>Bienvenido al Centro de Soporte SAIT</h2>
          <p>Para asegurarle un mejor servicio, utilizamos un sistema de órdenes. Cada petición o duda que tenga, se le asignará un folio de Órden, con la que usted podrá dar seguimiento y ver el avance de nuestro servicio en línea. Se requiere contar con una cuenta de correo electrónico. Gracias</p>
          <br><br>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="col-xs-4 col-sm-3 col-md-3">
            <br>
            <img src="img/document-add.png" class="imgDocumentos">
          </div>
          <div class="col-xs-8 col-sm-9 col-md-9">
            <h4>Abrir un nuevo Ticket</h4>
            <p>Por favor, facilite el máximo detalle para que podamos darle la mejor asistencia. Para actualizar un Ticket enviado anteriormente, por favor acceda al sistema.</p>
            <a class="btn btn-success botones" href="#open"><span class="glyphicon glyphicon-send"></span> Abrir Nuevo Ticket</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="col-xs-4 col-sm-3 col-md-3">
            <br>
            <img src="img/document-information.png" class="imgDocumentos">
          </div>
          <div class="col-xs-8 col-sm-9 col-md-9">
            <h4>Ver Estado de un Ticket</h4>
            <p>Poseemos los archivos y la historia completa de todas sus solicitudes de soporte, presentes y pasadas, junto a sus respuestas.</p>
            <a class="btn btn-primary botones" href="#vista"><span class="glyphicon glyphicon-plus-sign"></span> Ver Estado de Ticket</a>
          </div>
        </div>